$background: #424242 !important;
$foreground: #cacaca !important;

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: linear-gradient(to top,#2f2f2f 96%,#393939 100%); */
    background-color: $background;
    color: $foreground;
}

.navbar-dark {
    background-color: $background;
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
        .jml {
            font-size: 32px;
        }
        .bracket {
            font-size: 36px;
        }
        .dev {
            vertical-align: text-bottom;
        }
        img {
            width: 90px;
            height: auto;
        }
    }
    .navbar-nav {

        .nav-link {
            color: $foreground;

            .octicon {
                margin-right: 6px;
                margin-bottom: 2px;
            }
        }
    }
}

p {
    line-height: 32px;
}

.home-heading {
    margin-top: 84px;
    margin-bottom: 48px;
}

.spark {
    background-color: #DE4A00;
    font-family: 'Helvetica', sans-serif;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px #AB000B;
}