//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// custom
$background: #424242 !important;
$foreground: #cacaca !important;

.img-border {
    margin-bottom: 16px;
    border: 10px solid $foreground;
    border-radius: 24px;
}